# Logs
todolistFrontEnd/logs
todolistFrontEnd/*.log
todolistFrontEnd/npm-debug.log*
todolistFrontEnd/yarn-debug.log*
todolistFrontEnd/yarn-error.log*
todolistFrontEnd/pnpm-debug.log*
todolistFrontEnd/lerna-debug.log*

todolistFrontEnd/node_modules
todolistFrontEnd/dist
todolistFrontEnd/dist-ssr
todolistFrontEnd/*.local

# Editor directories and files
todolistFrontEnd/.vscode/*
todolistFrontEnd/!.vscode/extensions.json
todolistFrontEnd/.idea
todolistFrontEnd/.DS_Store
todolistFrontEnd/*.suo
todolistFrontEnd/*.ntvs*
todolistFrontEnd/*.njsproj
todolistFrontEnd/*.sln
todolistFrontEnd/*.sw?


# Backend ignore

todolist/.phpunit.cache
todolist/node_modules
todolist/public/build
todolist/public/hot
todolist/public/storage
todolist/storage/*.key
todolist/storage/pail
todolist/vendor
todolist/.env
todolist/.env.backup
todolist/.env.production
todolist/.phpactor.json
todolist/.phpunit.result.cache
todolist/Homestead.json
todolist/Homestead.yaml
todolist/npm-debug.log
todolist/yarn-error.log
todolist/auth.json
todolist/.fleet
todolist/.idea
todolist/.nova
todolist/.vscode
todolist/.zed

